.sample {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

video {
  display: initial !important;

  border-radius: 22px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  box-shadow: 0 19px 51px 0 rgba(0, 0, 0, 0.16),
    0 14px 19px 0 rgba(0, 0, 0, 0.07);
}
